<div class="login" ng-controller="AuthController" style="min-height:500px;backgroud-color:#fff;">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">

            <div class="animate form login_form">
                <section class="login_content">
                    <form ng-submit="login()">
                        <h1>Log In</h1>
                        <div class="row">
                            <div class="col-md-12">
                                <input ng-model="user.username" type="text" class="form-control" placeholder="Username" required="" name="username" id="username"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="" name="password" id="password"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="btn btn-primary" type="submit" id="submit" value="Log In">
                            </div>
                            <div class="col-md-12">
                                <small class="reset_pass" href="#">If you lost your password, contact the admin for details.</small>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1>Actime Admin Panel!</h1>
                            <p>©2016 All Rights Reserved. Actime Best Timing System in the World!!!</p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
