
<div class="row" ng-controller="KitStatesController">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">

            <div class="title_left">
                <h3><i class="fa fa-list-alt"></i> Kit States</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-plus-circle" aria-hidden="true"></i> New Kit State</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><i class="fa fa-eraser" aria-hidden="true"></i> Clear</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form ng-submit="newKitState()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        ng-model="kit_state.description"
                                        type="text"
                                        name="description"
                                        id="description"
                                        placeholder="Description" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        ng-model="kit_state.value"
                                        type="number"
                                        name="value"
                                        id="value"
                                        min="1"
                                        max="50"
                                        placeholder="value">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control btn-primary" type="submit" value="Add New">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-th-list" aria-hidden="true"></i> Kit State list</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a href="#/events/new/" class="collapse-link"><i class="fa fa-plus-circle"> New Kit State</i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="table-responsive">
                        <table id="da_table" class="table table-striped table-bordered">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title"># </th>
                                    <th class="column-title">Description </th>
                                    <th class="column-title">Value</th>
                                    <th class="column-title">Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="ks in kit_states" class="even pointer">
                                    <td class=" ">{{ks.id}}</td>
                                    <td class=" ">{{ks.description}}</td>
                                    <td class=" ">{{ks.value}}</td>
                                    <td class=" "><button class="btn btn-sm btn-danger" ng-click="showDeleteConfirm($event, ks.id)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
