<!-- top tiles -->
<div class="row tile_count" ng-controller="homeController">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Events</span>
        <div class="count">{{data.total_events}}</div>
        <span class="count_bottom"><i class="green">4% </i> Total Users</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Total Competitors</span>
        <div class="count">{{data.total_competitors}}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Kits Delivered</span>
        <div class="count red">{{data.kits_delivered}}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Kits Returned</span>
        <div class="count green">{{data.kits_returned}}</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Competitions</span>
        <div class="count">{{data.total_competitions}}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
</div>
<!-- /top tiles -->

<div class="clearfix"></div>

<div class="row x_panel" ng-controller="statsController">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
      <div class="row x_title">
        <div class="col-md-6">
          <h3>Competitors Register following</h3>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
        <div style="width: 100%;">
            <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;">
                <canvas id="comp_reg_chart"></canvas>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
        <div class="x_title">
          <h2>Top Campaign Performance</h2>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-6">
          <div>
            <p>Facebook Campaign</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
              </div>
            </div>
          </div>
          <div>
            <p>Twitter Campaign</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-6">
          <div>
            <p>Conventional Media</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
              </div>
            </div>
          </div>
          <div>
            <p>Bill boards</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div class="clearfix"></div>

<div class="row x_panel" ng-controller="statsController">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
      <div class="row x_title">
        <div class="col-md-6">
          <h3>Lost On Kits</h3>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
        <div style="width: 100%;">
          <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
        <div class="x_title">
          <h2>Top Campaign Performance</h2>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-6">
          <div>
            <p>Facebook Campaign</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
              </div>
            </div>
          </div>
          <div>
            <p>Twitter Campaign</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-6">
          <div>
            <p>Conventional Media</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
              </div>
            </div>
          </div>
          <div>
            <p>Bill boards</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!-- Chart.js -->
<script>

    Chart.defaults.global.legend = {
        enabled: false
    };

    // Line chart
    var ctx = document.getElementById("comp_reg_chart");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
                label: "My First dataset",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: [31, 74, 6, 39, 20, 85, 7]
            }, {
                label: "My Second dataset",
                backgroundColor: "rgba(3, 88, 106, 0.3)",
                borderColor: "rgba(3, 88, 106, 0.70)",
                pointBorderColor: "rgba(3, 88, 106, 0.70)",
                pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(151,187,205,1)",
                pointBorderWidth: 1,
                data: [82, 23, 66, 9, 99, 4, 2]
            }]
        },
    });

 </script>
