<div class="row" ng-controller="EventController">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">

            <div class="title_left">
                <h3><i class="fa fa-calendar"></i> Events</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-info-circle" aria-hidden="true"></i> Detail</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a href="#/events/edit/{{event_detail.id}}" class="collapse-link"><i class="fa fa-edit"> Edit Event</i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="row">
                        <div class="col-md-12"><img src="{{event_detail.image_url}}" alt="..." class="img-responsive img-rounded profile_img" ></div>
                        <div class="col-md-12"><h4>{{event_detail.name}}</h4></div>
                        <div class="col-md-12"><p>{{event_detail.description}}</p></div>
                        <div class="col-md-12"><small>{{event_detail.date_start | dateTimeFilter}} to {{event_detail.date_finish | dateTimeFilter}}</small></div>
                        <div class="col-md-12"><h6>Orginizer : {{event_detail.orginizer}}</h6></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-film" aria-hidden="true"></i> Media</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#/events/prizes/{{event_detail.id}}">
                                    <button class="btn btn-lg btn-primary" style="width:100%;"><i class="fa fa-trophy" aria-hidden="true"></i> Add Prize</button>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#/events/convs/{{event_detail.id}}">
                                    <button class="btn btn-lg btn-primary" style="width:100%;">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Add Convocatory
                                    </button>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#/events/gallery/{{event_detail.id}}">
                                    <button class="btn btn-lg btn-primary" style="width:100%;">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i> Add Photo To Gallery
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-th-list" aria-hidden="true"></i> Competitions</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="#/competitions/new/{{event_detail.id}}" class="collapse-link"><i class="fa fa-plus-circle"> Add Competition</i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Cost </th>
                              <th>Register</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="c in competitions">
                              <th scope="row">{{c.id}}</th>
                              <td><a href="#/competitions/{{c.id}}">{{c.name}}</a></td>
                              <td>{{c.cost}}</td>
                              <td><a href="#/registers/new/{{c.id}}"><i class="fa fa-user-plus" aria-hidden="true"></i></a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="text-danger"><i class="fa fa-ban" aria-hidden="true"></i> Danger Zone! Don't enter in here.</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-lg btn-danger" style="width:100%"ng-click="showDeleteConfirm($event)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
