
<div class="row" ng-controller="EventController">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">

            <div class="title_left">
                <h3><i class="fa fa-calendar"></i> Events</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input ng-model="search.text" type="text" class="form-control" placeholder="Search for...">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-th-list" aria-hidden="true"></i> Event list</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a href="#/events/new/" class="collapse-link"><i class="fa fa-plus-circle"></i> New Event</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" >
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Date start</td>
                                    <td>Date End</td>
                                    <td>Orginizer</td>
                                    <td>View</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="e in events">
                                    <td><a href="#/events/{{e.id}}">{{e.name}}</a></td>
                                    <td >{{e.date_start}}</td>
                                    <td >{{e.date_finish}}</td>
                                    <td>{{e.orginizer}}</td>
                                    <td ><a href="#/events/{{e.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
